* {
  padding: 0;
  margin: 0;
}
#addMvContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(8 10 26);
}
#addMvContent {
  width: 1440px;
  height: 1900px;
  display: flex;
  /* background-color: aquamarine; */
}
#addMvMain {
  width: 100%;
  margin-top: 145px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

#rightMainAddMv {
  margin-left: 25px;
  width: 100%;
  background-color: rgb(11 15 41);
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: translate(0%, 20%) scale(1);
  opacity: 0;
  transition: all 1s ease;
  height: fit-content;
}
#rightMainAddMv.active {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
}

#rightMainAddMv > h1 {
  padding: 20px 0 0 3%;
  color: white;
  font-size: 22px;
}
#rightMainAddMv > p {
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0 8px 3%;
  color: rgb(75 85 99);
}
#rightMainAddMv > input {
  height: 155px;
  margin: 0 0 10px 3%;
  color: white;
  font-weight: 500;
  width: 94%;
  border-radius: 4px;
  background-color: rgb(7, 10, 28);
  border: 1px solid rgb(75 85 99);
}
#twoColumnsInRight {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  margin: 15px 0 0 3%;
}

#twoColumnsInRight > div {
  width: 48.8%;
  /* background-color: aqua; */
  height: fit-content;
}
#twoColumnsInRight p {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0 8px 0;
  color: rgb(75 85 99);
}
#twoColumnsInRight input {
  height: 55px;
  margin: 0 0 10px 0;
  padding-left: 5%;
  color: white;
  font-weight: 500;
  width: 95%;
  border-radius: 4px;
  background-color: rgb(7, 10, 28);
  border: 1px solid rgb(75 85 99);
}
#uploadImgMv {
  width: 100%;
  border: 2px rgb(104, 98, 98) dashed;
  border-radius: 5px;
  background-color: rgb(8 10 26);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#uploadImgMv > img {
  width: 30px;
  height: 30px;
}
#uploadImgMv > h4 {
  font-weight: 500;
}
#uploadImgMv > i {
  padding-top: 5px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(75 85 99);
}
#uploadImgMv:hover {
  cursor: pointer;
}
#imgMvLoaded {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 15px 0 0 0%;
  background-color: rgb(8 10 26);
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgMvLoaded > img {
  width: 104px;
  height: 104px;
  border-radius: 5px;
}

#cateSelect {
  width: 94%;
  height: 55px;
  padding-left: 15px;
  margin: 0 0 10px 3%;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgb(7, 10, 28);
  border: 1px solid rgb(75 85 99);
}
#cateSelect option {
  background-color: white;
  color: black;
  line-height: 1.5;
  padding-left: 50px;
}
#cateSelect option:hover {
  background-color: red;
}
#uploadMovieVid {
  width: 94%;
  border: 2px rgb(104, 98, 98) dashed;
  border-radius: 5px;
  background-color: rgb(8 10 26);
  height: 150px;
  margin: 0 0 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#uploadMovieVid > img {
  width: 30px;
  height: 30px;
}
#uploadMovieVid > h4 {
  font-weight: 500;
}
#uploadMovieVid > i {
  padding-top: 5px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(75 85 99);
}
#uploadMovieVid:hover {
  cursor: pointer;
}
#addCastView {
  width: 94%;
  margin: 20px 0 0 3%;
  display: flex;
  justify-content: space-between;
}
#addCastView button {
  width: 48.8%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  justify-content: center;

  background-color: rgb(8 10 26);
  border: 1px solid red;
  border-radius: 8px;
}
#castsAddedView {
  width: 48.8%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 4px;
  height: fit-content;
}
.castAdded {
  width: 120px;
  background-color: rgb(8 10 26);
  border: 1px solid rgb(75 85 99);
  border-radius: 5px;
}
.castAdded > img {
  width: 104px;
  border-radius: 3px;
  object-fit: cover;
  height: 90px;
  margin: 8px 8px 0 8px;
}
.castAdded > p {
  white-space: nowrap;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  color: white;
  font-weight: 400;
  overflow: hidden;
  width: 100px;
  margin: 0 10px 0 10px;
}

.delAndUpdateCastView {
  width: 120px;
  margin: 10px 0 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.delAndUpdateCastView > div {
  width: 27px;
  margin: 0 3px 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border: 1px solid rgb(75 85 99);
  border-radius: 3px;
}
.delAndUpdateCastView img {
  width: 15px;
  height: 12px;
}
#btnPublishMovies {
  width: 94%;
  margin: 25px 0 25px 3%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  justify-content: center;

  background-color: red;
  border-radius: 8px;
}

#btnPublishMovies:hover {
  background-color: rgb(8 10 26);
  border: 1px solid red;
}
#btnPublishMovies > p {
  color: white;
  font-weight: 600;
  font-size: 17px;
}
#addCastView button:hover {
  background-color: red;
}
#addCastView > button > p {
  color: white;
  font-weight: 600;
  font-size: 17px;
}
.castWindow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.castContent {
  width: 500px;
  height: fit-content;
  background-color: rgb(7, 10, 28);
  border-radius: 10px;
  border: rgb(75 85 99) 1px solid;
}
.castContent > h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
  color: white;
  font-size: 24px;
}
.castContent > p {
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0 8px 5%;
  color: rgb(75 85 99);
}

.castContent input {
  width: 90%;
  height: 55px;
  margin: 0 0 10px 5%;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgb(253, 253, 255);
  border: 1px solid rgb(75 85 99);
}
#uploadImgCast {
  width: 90%;
  border: 2px rgb(75 85 99) dashed;
  border-radius: 5px;
  background-color: rgb(8 10 26);
  height: 120px;
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#uploadImgCast > img {
  width: 30px;
  height: 30px;
}
#uploadImgCast > h4 {
  font-weight: 500;
}
#uploadImgCast > i {
  padding-top: 5px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(75 85 99);
}
#uploadImgCast:hover {
  cursor: pointer;
}
#imgCastLoaded {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 15px 0 0 5%;
  background-color: rgb(8 10 26);
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgCastLoaded > img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.closeCastInfoButton {
  width: 90%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  justify-content: center;
  margin: 20px 0 20px 5%;
  background-color: red;
  border-radius: 6px;
}
.closeCastInfoButton:hover {
  border: 1px solid red;
  background-color: rgb(8 10 26);
}
.closeCastInfoButton p {
  color: white;
  font-weight: 600;
  font-size: 15px;
}
