
table {
    border-collapse: collapse;
    width: 94%;
    color: black;
    height: fit-content;
    margin: 0 0 3% 3%;
    border-radius: 5px;
  }
  
  tr {
    border: 1px solid rgb(75 85 99);
    padding: 8px;
    border-radius: inherit;
  }
  
  th {
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #f2f2f2;
  }
  #thImage {
    width: 10%;
  }
  
  #thName {
    width: 25%;
    text-align: left;
    padding-left: 25px;
    /* text-align: left; */
  }
  
  #thCate {
    width: 15%;
    text-align: left;
  }
  
  #thLanguage {
    width: 13%;
    text-align: left;
  }
  
  #thYear {
    width: 9%;
    text-align: left;
  }
  
  #thHours {
    width: 9%;
    text-align: left;
  }
  
  #thActions {
    text-align: right;
    padding-right: 25px;
  }
  td {
    height: 70px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    /* border: 1px solid red; */
  }
  .tdImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tdImage > div {
    border: 1px white solid;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tdImage img {
    width: 42px;
    height: 42px;
    border-radius: 1px;
    object-fit: cover;
  }
  .tdName {
    padding-left: 25px;
  }
  
  .tdActions > div {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    float: right;
    height: 70px;
    /* background-color: aliceblue; */
  }
  .editBtn {
    height: 60%;
    border: 1px solid rgb(75 85 99);
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(8 10 26);
    justify-content: center;
  }
  .editBtn p {
    color: rgb(75 85 99);
    padding: 0 8px 0 12px;
    font-weight: 600;
  }
  .editBtn img {
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
  }
  .deleteBtn img {
    width: 18px;
    height: 20px;
    margin: 7px;
  }
  .deleteBtn{
      background-color: red;
      display: flex;
      margin-left: 8px;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
  }